.MainGroup {
  margin: 2rem;
  padding: 2rem;
  background-color: #eee;
  border: #aaa solid 1px;
  border-radius: 0.5rem;
}

.Input label,
.ResultRow label {
  margin-right: 1rem;
  font-weight: bold;
}

.Input select {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ResultGroup {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr;
}

.ResultRow {
  margin: 0.5rem 0;
}

.ResultRefresh {
  align-self: center;
}

.ResultRefresh button {
  background-color: #eee;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.ResultRefresh button:focus {
  outline: none;
}

.RaceTable {
  margin: 2rem;
  border-collapse: collapse;
}
